<header class="site-header">
    <div class="topbar">
        <a class="brandline" href="{{@site.url}}">
            <span class="brandline-mark">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{#if @site.icon}}
                        <img src="{{@site.icon}}" alt="{{@site.title}}">
                    {{else}}
                        <span>{{@site.title}}</span>
                    {{/if}}
                {{/if}}
            </span>

            <span class="brandline-copy">
                <span class="brandline-kicker">Directory Plus</span>
                <span class="brandline-title">{{@site.title}}</span>
            </span>
        </a>

        <nav class="page-navbar" aria-label="Paginas do site">
            <ul class="page-nav-list">
                {{#get "pages" filter="visibility:public" limit="50" order="title asc"}}
                    {{#foreach pages}}
                        <li class="page-nav-item">
                            <a href="{{url}}">{{title}}</a>
                        </li>
                    {{/foreach}}
                {{/get}}
            </ul>
        </nav>
    </div>
</header>

